name: Continuous Integration

on:
  push:
    branches:
    - master

  pull_request:
    branches:
    - master

jobs:
  coverage:
    runs-on: ubuntu-24.04

    if: github.repository_owner == 'btmxh'

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install LCov
      run: sudo apt-get update -q
        && sudo apt-get install lcov -q -y

    - name: Install dependencies
      run: |
        sudo apt-get install -y -q \
          libwebp-dev \
          ffmpeg

    - name: Configure
      run: cmake --preset=ci-coverage

    - name: Build
      run: cmake --build build/coverage -j 2

    - name: Test
      working-directory: build/coverage
      run: ctest --output-on-failure --no-tests=error -j 2

    - name: Process coverage info
      run: cmake --build build/coverage -t coverage

    - name: Submit to codecov.io
      uses: codecov/codecov-action@v4
      with:
        file: build/coverage/coverage.info
        token: ${{ secrets.CODECOV_TOKEN }}

  sanitize:
    runs-on: ubuntu-24.04

    env: { CC: clang-18, CXX: clang++-18 }

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install dependencies
      run: |
        sudo apt-get update -q &&
        sudo apt-get install -y -q \
          libwebp-dev \
          ffmpeg

    - name: Configure
      run: cmake --preset=ci-sanitize

    - name: Build
      run: cmake --build build/sanitize -j 2

    - name: Test
      working-directory: build/sanitize
      env:
        ASAN_OPTIONS: "strict_string_checks=1:\
          detect_stack_use_after_return=1:\
          check_initialization_order=1:\
          strict_init_order=1:\
          detect_leaks=1:\
          halt_on_error=1"
        UBSAN_OPTIONS: "print_stacktrace=1:\
          halt_on_error=1"
      run: ctest --output-on-failure --no-tests=error -j 2

  test:
    strategy:
      matrix:
        os: [macos-14, ubuntu-24.04, windows-2022]

        type: [shared, static]

        include:
        - { type: shared, shared: YES }
        - { type: static, shared: NO }
        - os: ubuntu-24.04
          vcpkg_triplet: x64-linux-release
        - os: macos-14
          vcpkg_triplet: x64-osx-release
        - os: windows-2022
          vcpkg_triplet: x64-windows-release

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install static analyzers
      if: matrix.os == 'ubuntu-24.04'
      run: >-
        sudo apt-get install clang-tidy-18 cppcheck -y -q

        sudo update-alternatives --install
        /usr/bin/clang-tidy clang-tidy
        /usr/bin/clang-tidy-18 180

    - name: Install vcpkg build dependencies (MacOS)
      if: matrix.os == 'macos-14'
      run: brew install nasm

    - name: Install vcpkg build dependencies (Ubuntu)
      if: matrix.os == 'ubuntu-24.04'
      run: sudo apt-get install nasm

    - name: Install dependencies
      uses: johnwason/vcpkg-action@v7
      id: vcpkg
      with:
        pkgs: libwebp ffmpeg[x264,x265,vpx,mp3lame,opus,vorbis]
        triplet: ${{ matrix.vcpkg_triplet }}
        cache-key: ${{ matrix.os }}
        revision: master
        token: ${{ github.token }}

    - name: Setup MultiToolTask
      if: matrix.os == 'windows-2022'
      run: |
        Add-Content "$env:GITHUB_ENV" 'UseMultiToolTask=true'
        Add-Content "$env:GITHUB_ENV" 'EnforceProcessCountAcrossBuilds=true'

    - name: Configure
      shell: bash
      run: |
        OS=${{ matrix.os }}
        cmake "--preset=ci-${OS%%-*}" \
          -D BUILD_SHARED_LIBS="${{ matrix.shared }}" \
          ${{ steps.vcpkg.outputs.vcpkg-cmake-config }}
          -Wno-dev

    - name: Setup PATH
      if: matrix.os == 'windows-2022' && matrix.type == 'shared'
      run: |
        Add-Content "$env:GITHUB_PATH" "$(Get-Location)\build\libsve4_decode\Release"
        Add-Content "$env:GITHUB_PATH" "$(Get-Location)\build\libsve4_utils\Release"

    - name: Build
      run: cmake --build build --config Release -j 2

    - name: Install
      run: cmake --install build --config Release --prefix prefix

    - name: Test
      working-directory: build
      run: ctest --output-on-failure --no-tests=error -C Release -j 2

  docs:
    # Deploy docs only when builds succeed
    needs: [sanitize, test]

    runs-on: ubuntu-24.04

    if: github.ref == 'refs/heads/master'
      && github.event_name == 'push'
      && github.repository_owner == 'btmxh'

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - uses: actions/setup-python@v5
      with: { python-version: "3.12" }

    - name: Install m.css dependencies
      run: pip3 install jinja2 Pygments

    - name: Install Doxygen
      run: sudo apt-get update -q
        && sudo apt-get install doxygen -q -y

    - name: Build docs
      run: cmake "-DPROJECT_SOURCE_DIR=$PWD" "-DPROJECT_BINARY_DIR=$PWD/build"
        -P cmake/docs-ci.cmake

    - name: Deploy docs
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: build/docs/html
